body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    font-size: 2rem;
    border-bottom: 2px solid grey;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-family: monospace;
}
.sub-title{
    font-family: monospace;
    font-size: 0.7rem;
}
main{
    margin-top: 45px;
    max-height: fit-content;
}

.cant-personas{
    margin-bottom: 35px;
}

.container-checkboxs{
    display: flex;
    flex-direction: column;
}

.container-checkboxs > div{
    flex-direction: row;
    align-items: center;
    height: fit-content;
    max-width: 400px;
    width: 100%;
    min-width: 310px;
    display: flex;
    justify-content: space-between;
}

.container-checkboxs > div > label{
    width: -webkit-fill-available;
    width: 100%;
    padding-left: 15px;
}

.container-checkboxs > div > p{
    width: 45px;
}

#resultado{
    margin-top: 15px;
    text-align: center;
}
#cotizacion{
    font-weight: 600;
}

.seguro{
    font-size: 11px;
    text-transform: uppercase;
    text-align: -webkit-left;
    padding: 15px;
}
.seguro > a{
    color: rgba(26, 96, 245, 0.658);
    text-decoration: underline;
    
}
.input-Max{
    width: inherit;
    max-height: 24px;
    max-width: 45px;
    text-align: center;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    margin: 1px;
}

.div_c_buttons{
    display: flex;
    flex-direction: row;
}

/* Agrega estos estilos al final de tu archivo de estilos o en línea con tu HTML */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
  .botao-wpp {
      text-decoration: none;
      color: #eee;
      display: inline-block;
      background-color: #25d366;
      font-weight: bold;
      padding: 1rem 2rem;
      border-radius: 3px;
      transition: color 0.5s ease;
    }
  .botao-wpp:hover {
    background-color: darken(#1a8642, 5%);
  }
  
  .botao-wpp:focus {
    background-color: darken(#25d366, 15%);
  }