@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --c-crown: #ffbd59;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    font-size: 2rem;
    border-bottom: 2px solid var(--c-crown);
    display: flex;
    justify-content: center;
}

.guia-uso {
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: relative;
}

#guiaUsuario {
    margin-top: 60px;
    position: absolute;
    transform: translate(390px, 0px);
    max-width: 340px;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-family: monospace;
}

.sub-title {
    font-family: monospace;
    font-size: 0.7rem;
}

main {
    max-height: fit-content;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #00000036, inset 0px 0px 11px white;
    margin-top: 30px;
}

.cant-personas {
    margin-bottom: 35px;
}

.container-checkboxs {
    display: flex;
    flex-direction: column;
}

.container-checkboxs>div {
    flex-direction: row;
    align-items: center;
    height: fit-content;
    max-width: 400px;
    width: 100%;
    min-width: 310px;
    display: flex;
    justify-content: space-between;
}

.container-checkboxs>div>label {
    width: -webkit-fill-available;
    width: 100%;
    padding-left: 15px;
}

.container-checkboxs>div>p {
    width: 45px;
}

#resultado {
    margin-top: 15px;
    text-align: center;
}

#cotizacion {
    font-weight: 600;
}

.document-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.seguro {
    font-size: 11px;
    text-transform: uppercase;
    text-align: justify;
}

.seguro>a {
    color: rgba(26, 96, 245, 0.658);
    text-decoration: underline;

}

.input-Max {
    width: inherit;
    max-height: 24px;
    max-width: 45px;
    text-align: center;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    margin: 1px;
}

.div_c_buttons {
    display: flex;
    flex-direction: row;
}

/* Agrega estos estilos al final de tu archivo de estilos o en línea con tu HTML */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.botao-wpp {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    background-color: #25d366;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3px;
    transition: color 0.5s ease;
}

.botao-wpp:hover {
    background-color: darken(#1a8642, 5%);
}

.botao-wpp:focus {
    background-color: darken(#25d366, 15%);
}

header>img {
    width: 100%;
    max-width: 150px;
}

.div_guia_usuario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.div_guia_usuario p {
    font-size: 12px;
    text-transform: uppercase;
}

.div_guia_point {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 12px;
    height: fit-content;
    transform: translate(0px, 175px);
    text-align: justify;
}

.point1 {
    background-color: var(--c-crown);
}

.point1::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    left: -120px;
    z-index: -2;
    transform: rotate(180deg);
    background-color: var(--c-crown);
    opacity: 0.5;
}

.point1::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 51px;
    left: -128px;
    top: -0.8px;
    border: 3px solid var(--c-crown);
    opacity: 0.5;
    border-left: hidden;
}

.point2 {
    background-color: #ffbd59;
    transform: translate(0px, 250px);
}

.point2::after {
    content: "";
    width: 59px;
    height: 5px;
    background-color: var(--c-crown);
    position: absolute;
    left: -52px;
    top: 75px;
    opacity: 0.5;
}

.point2::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 310px;
    left: -60px;
    top: -24px;
    border: 3px solid var(--c-crown);
    opacity: 0.5;
    border-left: hidden;
}

.point3 {
    background-color: var(--c-crown);
    transform: translate(0px, 270px);
}

.point3::after {
    content: "";
    width: 50px;
    height: 5px;
    background-color: var(--c-crown);
    position: absolute;
    left: -42px;
    top: 156px;
    opacity: 0.5;
}

.point3::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 50px;
    left: -50px;
    top: 136px;
    border: 3px solid var(--c-crown);
    opacity: 0.5;
    border-left: hidden;
}

.point4 {
    background-color: var(--c-crown);
    transform: translate(0px, 300px);
}

.point4::after {
    content: "";
    width: 56px;
    height: 5px;
    background-color: var(--c-crown);
    position: absolute;
    left: -38px;
    top: 0;
    opacity: 0.5;
}

.point4::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 260px;
    left: -44px;
    top: -70px;
    border: 3px solid var(--c-crown);
    opacity: 0.5;
    border-left: hidden;
}

.activar_guia {
    height: fit-content;
    width: 100%;
    max-width: 538px;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 99;
    top: 0px;
    margin: 0px;
    padding-top: 5px;
}

.activar_guia button {
    backdrop-filter: blur(5px);
    font-weight: 600;
    padding: 10px;
    border: 1px solid #0000002e;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 0px 12px #8080809c;
}

.container-input-dni {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 15px;
}

.p_Title_Firma {
    width: fit-content;
    position: relative;
    top: -40px;
    font-size: 1.5rem;
}

#borrar-firma {
    border: 1px solid #000;
    border-top: 0px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
}

.document-container > label {
    left: 23px;
    position: relative; 
}

@media screen and (min-width: 1366px) {
    .activar_guia{
        /* position: fixed; */
        width: 100%;
        left: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}